[regexp oracleSid {{ oracle_sid }}]
[regexp oracleBase {{ oracle_base }}]
[regexp oracleHome {{ oracle_home }}]
[regexp oracleData {{ oracle_data_fs}}/XE]
# gestori-specific, lets keep it for now
[list gesTS
]
[list gesTSuc
]
[list gesDG
]
