LISTENER =
  (DESCRIPTION_LIST =
    (DESCRIPTION =
      (ADDRESS = (PROTOCOL = TCP)(HOST = {{ ansible_hostname }})(PORT = 1521))
    )
  )

INBOUND_CONNECT_TIMEOUT_LISTENER=0
ADR_BASE_LISTENER = {{ oracle_base }}
SUBSCRIBE_FOR_NODE_DOWN_EVENT_LISTENER=OFF
ENABLE_GLOBAL_DYNAMIC_ENDPOINT_LISTENER=ON		# line added by Agent